# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [141]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import sqlite3

# loading data from python.db database
con = sqlite3.connect('data/python.db')

# import 'school' and 'student' tables into pandas dataframe
school_data = pd.read_sql_query("SELECT * FROM school", con)
student_data = pd.read_sql_query("SELECT * FROM student", con)

In [142]:
# join the two tables into a single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,id_x,Student ID,student_name,gender,grade,school_name,reading_score,math_score,id_y,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,0,District,2917,1910635
3,3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [143]:
# Create a District Summary
# Merge school and student data
merged_data = pd.merge(student_data, school_data, on="school_name")
school_group = merged_data.groupby("school_name")
school_summary = pd.DataFrame()

In [144]:
# Total number of schools
school_summary["School Type"] = school_group["type"].first()

In [145]:
# Total number of students
school_summary["Total Students"] = school_group["student_name"].count()

In [146]:
# Total budget
school_summary["Total School Budget"] = school_group["budget"].first()

In [147]:
# Average math score
school_summary["Average Math Score"] = school_group["math_score"].mean()
school_summary["% Passing Math"] = school_group["math_score"].apply(lambda x: (x >= 70).mean() * 100)

In [148]:
# Average reading score
school_summary["Average Reading Score"] = school_group["reading_score"].mean()
school_summary["% Passing Reading"] = school_group["reading_score"].apply(lambda x: (x >= 70).mean() * 100)

In [149]:
# Overall average score
school_summary["Overall Passing Rate"] = (
    school_summary["% Passing Math"] + school_summary["% Passing Reading"]
) / 2

In [150]:
# Percentage of passing math (70 or greater)
school_summary["% Passing Math"] = school_group["math_score"].apply(lambda x: (x >= 70).mean() * 100)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [151]:
#  Sort and display the top five schools in overall passing rate

top_schools = school_summary.sort_values("Overall Passing Rate", ascending=False).head(5)
print(top_schools)

                    School Type  Total Students  Total School Budget  \
school_name
Cabrera High School     Charter            1858              1081356
Thomas High School      Charter            1635              1043130
Pena High School        Charter             962               585858
Griffin High School     Charter            1468               917500
Wilson High School      Charter            2283              1319574

                     Average Math Score  % Passing Math  \
school_name
Cabrera High School           83.061895       94.133477
Thomas High School            83.418349       93.272171
Pena High School              83.839917       94.594595
Griffin High School           83.351499       93.392371
Wilson High School            83.274201       93.867718

                     Average Reading Score  % Passing Reading  \
school_name
Cabrera High School              83.975780          97.039828
Thomas High School               83.848930          97.308869
Pena High School                 84.044699          95.945946
Griffin High School              83.816757          97.138965
Wilson High School               83.989488          96.539641

                     Overall Passing Rate
school_name
Cabrera High School             95.586652
Thomas High School              95.290520
Pena High School                95.270270
Griffin High School             95.265668
Wilson High School              95.203679

In [152]:
# Calculate total school budget
school_summary["Total School Budget"] = school_group["budget"].first()

In [153]:
# Calculate per student budget
school_summary["Per Student Budget"] = school_summary["Total School Budget"] / school_summary["Total Students"]

In [154]:
# Cacluate the avg math and reading score
school_summary["Average Reading Score"] = school_group["reading_score"].mean()

#### Find the passing rate for math and reading (above 70 points)

In [155]:
# Find the total counts of math result


# Find the counts for math result in each school that pass 70 or higher


# Calculate the math passing rate

school_summary["% Passing Math"] = school_group["math_score"].apply(lambda x: (x >= 70).mean() * 100)
print(school_summary["% Passing Math"])

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: % Passing Math, dtype: float64

In [156]:
# Find the total counts of read result


# Find the counts for read result in each school that pass 70 or higher


# Calculate the read passing rate
school_summary["% Passing Reading"] = school_group["reading_score"].apply(lambda x: (x >= 70).mean() * 100)
print(school_summary["% Passing Reading"])

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: % Passing Reading, dtype: float64

In [157]:
# Calculate the overall passing rate (average of the math and reading passing rate)
school_summary["Overall Passing Rate"] = (
    school_summary["% Passing Math"] + school_summary["% Passing Reading"]
) / 2
print(school_summary["Overall Passing Rate"])

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
Name: Overall Passing Rate, dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [158]:
#  Sort and display the worst five schools in overall passing rate
# Sort schools by Overall Passing Rate in ascending order (worst to best)
bottom_schools = school_summary.sort_values("Overall Passing Rate", ascending=True).head(5)
print(bottom_schools)

                      School Type  Total Students  Total School Budget  \
school_name
Rodriguez High School    District            3999              2547363
Figueroa High School     District            2949              1884411
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Ford High School         District            2739              1763916

                       Average Math Score  % Passing Math  \
school_name
Rodriguez High School           76.842711       66.366592
Figueroa High School            76.711767       65.988471
Huang High School               76.629414       65.683922
Johnson High School             77.072464       66.057551
Ford High School                77.102592       68.309602

                       Average Reading Score  % Passing Reading  \
school_name
Rodriguez High School              80.744686          80.220055
Figueroa High School               81.158020          80.739234
Huang High School                  81.182722          81.316421
Johnson High School                80.966394          81.222432
Ford High School                   80.746258          79.299014

                       Overall Passing Rate  Per Student Budget
school_name
Rodriguez High School             73.293323               637.0
Figueroa High School              73.363852               639.0
Huang High School                 73.500171               655.0
Johnson High School               73.639992               650.0
Ford High School                  73.804308               644.0

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [159]:
# Create table that lists the average math score for each school of each grade level.
grade_math_scores = school_data_complete.groupby(["school_name", "grade"])["math_score"].mean()
grade_math_table = grade_math_scores.unstack()
print(grade_math_table)

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [160]:
# Calculate the average math score for 9th grade in each school
ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"]
ninth_grade_math_scores = ninth_grade.groupby("school_name")["math_score"].mean()
print(ninth_grade_math_scores)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [161]:
# Calculate the average math score for 10th grade in each school
tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"]
tenth_grade_math_scores = tenth_grade.groupby("school_name")["math_score"].mean()
print(tenth_grade_math_scores)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [162]:
# Calculate the average math score for 11th grade in each school
eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"]
eleventh_grade_math_scores = eleventh_grade.groupby("school_name")["math_score"].mean()
print(eleventh_grade_math_scores)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [163]:
# Calculate the average math score for 12th grade in each school
twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"]
twelfth_grade_math_scores = twelfth_grade.groupby("school_name")["math_score"].mean()
print(twelfth_grade_math_scores)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [164]:
# Create table that lists the average reading score for each school of each grade level.
grade_reading_scores = school_data_complete.groupby(["school_name", "grade"])["reading_score"].mean()
grade_reading_table = grade_reading_scores.unstack()
print(grade_reading_table)

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [165]:
# Calculate the average reading score for 9th grade in each school
ninth_grade = school_data_complete[school_data_complete["grade"] == "9th"]
ninth_grade_reading_scores = ninth_grade.groupby("school_name")["reading_score"].mean()
print(ninth_grade_reading_scores)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [166]:
# Calculate the average reading score for 10th grade in each school
tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"]
tenth_grade_reading_scores = tenth_grade.groupby("school_name")["reading_score"].mean()
print(tenth_grade_reading_scores)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [167]:
# Calculate the average reading score for 11th grade in each school
eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"]
eleventh_grade_reading_scores = eleventh_grade.groupby("school_name")["reading_score"].mean()
print(eleventh_grade_reading_scores)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [168]:
# Calculate the average reading score for 12th grade in each school
twelfth_grade = school_data_complete[school_data_complete["grade"] == "12th"]
twelfth_grade_reading_scores = twelfth_grade.groupby("school_name")["reading_score"].mean()
print(twelfth_grade_reading_scores)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [169]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [170]:
# Create a new column to show budget per student in each row
school_data_complete["Per Student Budget"] = school_data_complete["budget"] / school_data_complete["size"]
print(school_data_complete["Per Student Budget"])

0        655.0
1        655.0
2        655.0
3        655.0
4        655.0
         ...
39165    638.0
39166    638.0
39167    638.0
39168    638.0
39169    638.0
Name: Per Student Budget, Length: 39170, dtype: float64

In [171]:
# Create a new column to define the spending ranges per student
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(
    school_data_complete["Per Student Budget"],
    bins=[0, 585, 615, 645, 675],
    labels=["<$585", "$585-615", "$615-645", "$645-675"]
)
print(school_data_complete["Spending Ranges (Per Student)"])

0        $645-675
1        $645-675
2        $645-675
3        $645-675
4        $645-675
           ...
39165    $615-645
39166    $615-645
39167    $615-645
39168    $615-645
39169    $615-645
Name: Spending Ranges (Per Student), Length: 39170, dtype: category
Categories (4, object): ['<$585' < '$585-615' < '$615-645' < '$645-675']

In [172]:
# Calculate the average math score within each spending range
spending_math_scores = school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=True
)["math_score"].mean()

print(spending_math_scores)

Spending Ranges (Per Student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [173]:
# Calculate the percentage passing rate for math in each spending range
math_scores_by_spending = school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=True
)["math_score"].mean()

print(math_scores_by_spending)

Spending Ranges (Per Student)
<$585       83.363065
$585-615    83.529196
$615-645    78.061635
$645-675    77.049297
Name: math_score, dtype: float64

In [174]:
# Calculate the percentage passing rate for reading in each spending range
passing_reading_by_spending = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "Spending Ranges (Per Student)", observed=True
)["student_name"].count() / school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=True
)["student_name"].count() * 100

print(passing_reading_by_spending)

Spending Ranges (Per Student)
<$585       96.686558
$585-615    95.886889
$615-645    83.614770
$645-675    81.109397
Name: student_name, dtype: float64

In [175]:
# Calculate the percentage overall passing rate in each spending range
overall_passing_by_spending = overall_passing.groupby(
    "Spending Ranges (Per Student)", observed=True
)["student_name"].count() / school_data_complete.groupby(
    "Spending Ranges (Per Student)", observed=True
)["student_name"].count() * 100

print(overall_passing_by_spending)

Spending Ranges (Per Student)
<$585       90.640704
$585-615    90.121190
$615-645    60.289317
$645-675    53.528791
Name: student_name, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [176]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [177]:
# Create a new column for the bin groups
school_data_complete["School Size"] = pd.cut(
    school_data_complete["size"],
    bins=[0, 1000, 2000, 5000],
    labels=["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
)

Look for the total count of test scores that pass 70% or higher

In [178]:
# math_pass_size
math_pass_size = school_data_complete[school_data_complete["math_score"] >= 70].groupby(
    "School Size", observed=True
)["student_name"].count()
print(math_pass_size)

School Size
Small (<1000)          1305
Medium (1000-2000)     7978
Large (2000-5000)     20087
Name: student_name, dtype: int64

In [179]:
# read_pass_size
read_pass_size = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "School Size", observed=True
)["student_name"].count()
print(read_pass_size)

School Size
Small (<1000)          1334
Medium (1000-2000)     8247
Large (2000-5000)     24029
Name: student_name, dtype: int64

In [180]:
# Calculate the overall passing rate for different school size
overall_pass = school_data_complete[
    (school_data_complete["math_score"] >= 70) &
    (school_data_complete["reading_score"] >= 70)
]
total_by_size = school_data_complete.groupby("School Size", observed=True)["student_name"].count()

passing_by_size = overall_pass.groupby("School Size", observed=True)["student_name"].count()

overall_pass_rate_by_size = (passing_by_size / total_by_size) * 100

print(overall_pass_rate_by_size)

School Size
Small (<1000)         90.136789
Medium (1000-2000)    90.624267
Large (2000-5000)     56.574046
Name: student_name, dtype: float64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [181]:
# Create bins and groups, school type {'Charter', 'District'}
school_type_group = school_data_complete.groupby("type", observed=True)
print(school_type_group.size())

type
Charter     12194
District    26976
dtype: int64

Find counts of the passing 70 or higher score for the both test

In [182]:
# math pass size
math_pass_type = school_data_complete[school_data_complete["math_score"] >= 70].groupby(
    "type", observed=True
)["student_name"].count()
print(math_pass_type)

type
Charter     11426
District    17944
Name: student_name, dtype: int64

In [183]:
# reading pass size
reading_pass_type = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(
    "type", observed=True
)["student_name"].count()
print(reading_pass_type)

type
Charter     11785
District    21825
Name: student_name, dtype: int64

In [184]:
# Calculate the overall passing rate
overall_pass_type = school_data_complete[
    (school_data_complete["math_score"] >= 70) &
    (school_data_complete["reading_score"] >= 70)
].groupby("type", observed=True)["student_name"].count() / school_data_complete.groupby(
    "type", observed=True
)["student_name"].count() * 100

print(overall_pass_type)

type
Charter     90.560932
District    53.695878
Name: student_name, dtype: float64